{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'page' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% for file in all_files %}
            <div class="file-item mb-3">
                <li>{{ file.file_path.name }}</li>
                <img src="{{ file.file_path.url }}" height="200" class="d-block my-2">

                {% if request.user.is_authenticated %}
                <div class="btn-group">
                    <a href="{% url 'delete_file' file.id %}"
                       class="btn btn-danger"
                       onclick="return confirm('Удалить файл и запись?')">Удалить</a>
                    <button type="submit" class="btn btn-primary">Анализ</button>
                    <a href="{{ file.file_path.url }}" class="btn btn-success">Скачать</a>
                </div>
                {% endif %}

                <hr>
            </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}